<!DOCTYPE html>
<html>
  <head>
    <!-- <style>
      h1,
      h2,
      h3 {
        text-align: center;
      }

      header {
        background-color: orange;
        color: white;
      }

      .inputClass {
        text-align: center;
      }
    </style> -->
    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <body
    class="grid h-screen place-items-center text-center bg-gradient-to-r from-lime-100 to-cyan-100"
  >
    <div class="p-8 rounded-xl bg-white shadow-lg flex flex-col gap-6 w-3/4">
      <header>
        <h1
          class="text-5xl bg-gradient-to-r from-lime-600 to-cyan-600 bg-clip-text text-transparent font-bold"
        >
          <a href="/home"> Hand Gesture Prediction System </a>
        </h1>
        <div class="mt-4 flex gap-4 justify-center">
          <a href="/home">
            <button
              class="p-2 bg-green-500 hover:bg-green-700 text-white rounded-lg"
            >
              Home
            </button>
          </a>
          <a href="/intro">
            <button
              class="p-2 bg-blue-500 hover:bg-green-700 text-white rounded-lg"
            >
              Introduction
            </button>
          </a>
          <a href="/launch">
            <button
              class="p-2 bg-green-500 hover:bg-green-700 text-white rounded-lg"
            >
              Launch
            </button>
          </a>
        </div>
      </header>

      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae
        blanditiis mollitia ratione quis hic, in quae! Eaque quod animi hic
        excepturi dolore, impedit ipsum aliquam, nulla non tenetur nesciunt
        asperiores. Molestiae quas cumque assumenda doloremque tenetur
        recusandae itaque? Aliquid dolor fugit cum harum eius molestiae
        voluptatibus amet aspernatur, totam consequuntur! Distinctio maxime
        sapiente fugiat voluptates nihil assumenda ad dicta officiis? Fugiat
        quam pariatur eius, veniam ipsam ad recusandae neque tempore laboriosam
        voluptas exercitationem sequi nulla asperiores unde similique nesciunt
        ducimus quibusdam iure earum itaque, natus rem veritatis! Delectus, non
        sed. Omnis, harum. Atque aliquam ipsa fugiat ab tempore accusamus quis,
        harum ratione ex sit fuga sint et natus, pariatur soluta. Obcaecati in
        odio asperiores quam fugiat veniam, velit fugit tempora? Magni minus
        error, atque perferendis reiciendis est, aliquam, odio voluptatum
        obcaecati iusto iste officiis. Animi, pariatur magni, quam deleniti
        veniam debitis libero, sit dolorum suscipit vel repudiandae illo. Vero,
        maiores? Placeat fugiat animi, neque tempora officia id. Recusandae est
        eaque reiciendis aut velit facilis provident qui quaerat harum, ducimus
        libero atque reprehenderit sit cum at quasi consequatur iste fugiat
        delectus. Officia, saepe provident quod voluptatum unde laborum voluptas
        iste, debitis aut laboriosam id, corporis quos reprehenderit
        consequuntur quam exercitationem illo? Neque officiis, expedita
        voluptatibus soluta nisi blanditiis dolorum harum vitae! Mollitia, porro
        fugiat impedit fugit optio quis iure libero voluptate, rem adipisci
        aperiam rerum, qui maiores voluptatum et! Totam sed, nulla beatae vitae
        eum deleniti at aspernatur libero non aut? Ullam consectetur in, sint
        modi corporis vero adipisci ipsam ea ducimus eius, nostrum, distinctio
        quisquam? Voluptas nam animi nesciunt consequatur officiis. Expedita,
        nemo maiores magnam veniam nam autem cum porro! Autem nostrum assumenda
        quae, earum voluptas rem reiciendis beatae natus officia at quisquam
        culpa neque a laboriosam perspiciatis officiis esse quidem, dolore qui,
        sed doloribus porro architecto voluptatem. Rem, nostrum. Blanditiis
        eveniet quos cumque cupiditate reiciendis sint vel tempora laudantium
        aperiam nisi distinctio aliquam saepe alias fuga nemo doloremque ullam,
        ex qui accusamus consectetur omnis similique expedita est placeat! Quam?
        Fugit vitae ea quibusdam praesentium mollitia facilis modi odit
        aspernatur illum officia, est recusandae minima quis optio sint itaque
        enim consequatur autem explicabo alias corrupti veritatis hic expedita
        sequi? Consequatur?
      </p>
    </div>
  </body>
</html>
